{% extends 'base.html' %}
{% block content %}
{{ super() }}
<h1>Изменить профиль</h1>
<form action='/edit' method='post' class='edit' enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ['csrf_token', 'submit', 'stack'] %}
        {{field.label}}
        {% if field.errors %}
            <p>{{ field(class='invalid', value=getattr(user, field.name, 0)) }}
                {{ field.errors[0] }}</p>
        {% else %}
            {% if field.name=='expirience' %}
            <p>
                {% for subfield in field %}
                    {% if subfield.label.text == user.expirience %}
                        {{ subfield(checked='checked') }}
                        {{ subfield.label }}
                    {% else %} 
                        {{ subfield() }}
                        {{ subfield.label }}
                    {% endif %}
                {% endfor %}
            </p>
            {% elif field.name=='specialization' %}
                <select name='specialization' id='specialization'>
                {% for option in field %}
                    {% if user.specialization == option.label.text %}
                        {{ option() }}
                    {% else %} 
                        {{ option() }}
                    {% endif %}
                {% endfor %}
                </select>
                <br>
            {% else %}
                <p>{{ field(class='normal', value=getattr(user, field.name, 0)) }}</p>
            {% endif %}

        {% endif %}
    {% endfor %}
    <p>
    {% if form.stack.errors %}
        {{ form.stack.label }} {{ form.stack(class='invalid', value=stack_text) }} {{ field.errors[0] }}
    {% else %}
        {{ form.stack.label }} {{ form.stack(class='normal', value=stack_text) }}
    {% endif %}
    </p>
    <p>{{ form.submit() }}
</form>
{% endblock %}