{% extends 'base.html' %}
{% block content %}
{{ super() }}
<p>На сайте пока нет оформления, но оно скоро будет ;)</p>
<p><h2 style='display: inline;'>X-Teams</h2> - место, где можно публиковать идеи и искать нужных людей. Разрабатывайте проекты, общайтесь, ищите нужных людей.</p>

<h2>Создавайте команды</h2>
<p>Создавайте команды удобно, общайтесь в личном чате, создавайте и выполняйте задачи.</p>

<h2>У вас есть идея?</h2>
<p>Если у вас есть идея - смело публикуйте её здесь. Всегда найдутся люди, которым понравится эта идея.</p>

<h2>Нет опыта работы?</h2>
<p>Получите его здесь. Наполните своё портфолио проектами, получите незабываемый опыт.</p>
<footer>
    <a href="https://github.com/Stepan-Zubkov/X-Teams">GitHub</a>
    <a href="mailto:backend_devel0per@vk.com">Связаться</a>
    <a href="mailto:fiveweek234@gmail.com">Сообщить об ошибке</a>
</footer>
{% endblock %}