{% extends 'base.html' %}
{% block content %}
{{ super() }}
<h1>Приглашение</h1>
<form action='/invite/{{user.github}}' method='post' class='invite'>
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ['csrf_token', 'submit', 'remember'] %}
        {% if field.errors %}
            <p>{{ field(class='invalid', placeholder=field.label.text) }}
            <span style='color: red;'>{{field.errors[0]}}</span></p>
        {% else %}
            <p>{{ field(class='normal', placeholder=field.label.text) }}
        {% endif %}
    {% endfor %}
    <p>{{ form.submit() }}
</form>
{% endblock %}