{% extends 'base.html' %}
{% block content %}
{{ super() }}
<h1>Войти</h1>
{% for cat,msg in get_flashed_messages(True) %}
    <p class='{{cat}}'>{{msg}}</p>
{% endfor %}
<form action='/login' method='post' class='login'>
    {{ form.hidden_tag() }}
    {% for field in form if field.name not in ['csrf_token', 'submit', 'remember'] %}
    {% if field.errors %}
    <p>{{ field(class='invalid', placeholder=field.label.text) }}
        {{ field.errors[0] }}</p>
    {% else %}
    <p>{{ field(class='normal', placeholder=field.label.text) }}
        {% endif %}
        {% endfor %}
    <p>{{ form.remember }}
        {{ form.remember.label }}</p>
    <p>{{ form.submit() }}
</form>
<p>Нет аккаунта? <a href='/registration'>Создать</a></p>
{% endblock %}